{% load staticfiles %}

<!-- Loading Bootstrap -->
<link href="{% static '' %}/dist/css/bootstrap.min.css" rel="stylesheet">

<!-- Loading Flat UI -->
<link href="{% static '' %}/dist/css/flat-ui.min.css" rel="stylesheet">
<link href="{% static '' %}/css/topic.css" rel="stylesheet">
<link href="{% static '' %}/css/main.css" rel="stylesheet">
<link href="{% static '' %}/css/page.css" rel="stylesheet">

<link rel="shortcut icon" href="{% static '' %}/img/favicon.ico">

<!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
<!--[if lt IE 9]>
<script src="{% static '' %}/dist/js/html5shiv.min.js"></script>
<script src="{% static '' %}/dist/js/respond.min.js"></script>
<![endif]-->