{% load staticfiles %}

<nav class="navbar navbar-inverse navbar-embossed navbar-fixed-top" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-6">
            <span class="sr-only">Toggle navigation</span>
        </button>
        <a class="navbar-brand" href="/"> Python China </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navbar-collapse-6">
        <ul class="nav navbar-nav">
            <li><a href="#">Timeline<span class="navbar-unread">1</span></a></li>
            <li class="active"><a href="#"> Wiki </a></li>
            <li><a href="#">Links</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Joway <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="#">我的主页</a></li>
                    <li><a href="#">资料</a></li>
                    <li><a href="#">记事本</a></li>
                    <li class="divider"></li>
                    <li><a href="#">退出</a></li>
                </ul>
            </li>
        </ul>

        <form class="navbar-form navbar-right" action="#" role="search">
            <div class="form-group">
                <div class="input-group">
                    <input class="form-control" id="navbarInput-01" type="search" placeholder="Search">
                <span class="input-group-btn">
                  <button type="submit" class="btn"><span class="fui-search"></span></button>
                </span>
                </div>
            </div>
        </form>

    </div><!-- /.navbar-collapse -->
</nav>
